body {
	margin: 0;
	background-color: #DFDFDA;;
	color: #fff;
	overscroll-behavior: none;
}


canvas {
	display: block;
	background-color: #DFDFDA;;

}

#about {
	opacity:0;
	width:500px;
	height:500px;
	position:absolute;
	bottom: 150px;
	right:200px;
	z-index:10;
}
.social-link {
	position:absolute;
}
#hrs {
	top:47px;
	right:47px;
}

#ig {
	top:110px;
	right:50px;
}
#in {
	top:180px;
	right:50px;
}
#peace {
	top:245px;
	right:50px;
}
.about-animation {
	position:absolute;
	bottom:95px;
	right:-30px;
	opacity:0.5;
}
#animate-out {
	z-index:-1;
}


a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}
